<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Card Display</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
    </style>
  </head>
  <body class="all">
    <main>
      <div class="sedans">
        <div class="carcircle">
          <img src="Copy of icon-sedans.svg" alt="sedan icon" />
        </div>
        <div class="textarea">
          <h1>SEDANS</h1>
          <p>
            Choos a sedan for its affordability and excellent fuel economy.
            Ideal for crusing in the city or on your next road trip.
          </p>
        </div>
        <div class="button">
          <!-- styled button text -->
          <label for="#" style="color: #e28525">Learn More</label>
        </div>
      </div>

      <div class="suvs">
        <div class="carcircle">
          <img src="Copy of icon-suvs.svg" alt="sedan icon" />
        </div>
        <div class="textarea">
          <h1>SUVS</h1>
          <p>
            Take an SUV for its spacious interior, power, and versatility.
            Perfect for your next family vacation and off-road adventures.
          </p>
        </div>
        <div class="button">
          <!-- styled button text -->

          <label for="#" style="color: #016972">Learn More</label>
        </div>
      </div>

      <div class="luxury">
        <div class="carcircle">
          <img src="icon-luxury.svg" alt="sedan icon" />
        </div>
        <div class="textarea">
          <h1>LUXURY</h1>
          <p>
            Cruise in the best car brands without the bloated prices. enjoy the
            enhanced comfort of a luxury rental and arrive in style.
          </p>
        </div>
        <div class="button">
          <!-- styled button text -->

          <label for="#" style="color: #00403f">Learn More</label>
        </div>
      </div>
      <div class="link">
        <a href="sample grid.html" target="_blank">Grid Link</a>
      </div>
    </main>
  </body>
</html>
