

/* }starting from the root */

:root{
    --main-background: white;
    --main-font-color: #010101;
    --secondary-background: #010101;
    --sec_pri-background: #4E5CFF;
    --main-font-family: 'poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    

}
body{
    
    height: 100vh;
     
}

main{
    width: 90%;
    margin: auto;
}

header{
    width: 100%;
    margin: auto;
    background-color: rgb(232, 229, 224);
    padding: 16px 0 16px 0;
}
.nav-section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
ul{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    
}

li a{
    display: flex;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    font-family: var(--main-font-family);
    font-weight: 400;
    color: var(--main-font-color);
    padding: 0em 2em;
    
}

.mail-button{
    background-color: #ff9900;
    margin-left:10em;
    padding: 16px;
    border-radius: 3em;
    text-align: center;
}
.mail-button a{
    color: white;
}
.navli{
    display: flex;
    justify-content: space-between;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;  
}
.hero img{
    width: 30%;
    border-radius: 4em;
}

h1{
    line-height: 90px;
    font-size: 78px;
    font-weight: 900;
    font-family: var(--main-font-family);
    
}
p{
    font-family: var(--main-font-family);
}

.herotext p{
    font-size: 24px;
}
.brand{
    display: flex;
    justify-content: center;
    
    
}
.brand img{
    padding-top: 20px;
    width: 111%;


}
.project{
    padding-top: 2em;
}

.about{
    padding-top: 2em;
}
.about p{
    margin-left: 40%;
    font-size: 30px;
    /* width: 50%; */
    
}
.abt{
    display: flex;

}
.about button{
    
    position: absolute;
    margin-top: 10px;
    background-color: var(--sec_pri-background);
    color: white;
    border-radius: 20px;
    /* align-items: flex-start; */
    padding: 20px 50px 20px;
    border: none;
    /* height: 60px; */
    /* width: 300px; */
    /* justify-content: space-between; */
    
    
}
.progrid div{
    display: grid;
    grid-template-areas:
    'a a b'
    'c d d'
    ;
    /* padding-top: 2em; */
}

.proj1 img{
    width: 10em;
   grid-area: a;

}
.proj2 img{
    width: 10em;
    grid-area: b;
 
 }
 .proj3 img{
    width: 10em;
    grid-area: c;
 
 }
 .proj4 img{
    width: 10em;
    grid-area: d;
 
 }
 .grid{
    padding-top: 1em;
    margin: auto;
    /* width: 90%; */
    display: grid;
    grid-template-areas: 'g5 g1 g2'
    'g3 g4 g6';
    gap: 2em;
    width: fit-content;
 }
 .g1{
    /* background-color: #010101; */
    /* padding: 2em; */
    grid-area: g1;
 }
 .g2{
    /* background-color: #5a1010; */
    /* padding: 2em; */
    grid-area: g2;

 }
 .g3{
    /* background-color: #5f178b; */
    /* padding: 2em; */
    grid-area: g3;

 }
 .g4{
    /* background-color: #87d58d; */
    /* padding: 2em; */
    grid-area: g4;

 }
 .g5{
    /* background-color: #87d58d; */
    /* padding: 2em; */
    grid-area: g5;

 }
 
 .grid img{
    border-radius: 2em;
 }

footer{
    margin-top: 2em;
    width: 100%;
    background-color: #010101;
}
footer p{
    color: rgb(255, 255, 255);
    text-align: center;
    height: 10vh;
    font-weight: 300;
    font-size: 8px;
   
}

}
